body {
  font-family: sans-serif;
}

video {
  max-width: 100%;
  width: 400px;
}

.page-header {
  text-align: center;
  padding-bottom: 2.5rem;
  margin-bottom: 1rem;
}

.media-stream {
  text-align: center !important;
  display: block !important;
}

.page-content {
  text-align: center;
}

.page-footer {
  text-align: center;
}
